@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Registro de Empleados</h1>
   <p class="display-4">Formulario de Registro</p>
    <style>
        h1, p {color:red;}
        label {color:blue;}
    </style>
    <br><br>
   <form>
       <label for="nombre">Ingrese Nombres:</label>
       <input type="text" placeholder="Escriba los nombres" name="nombre" id="nombre" />

       <label for="apellido">Ingrese Apellidos:</label>
       <input type="text" placeholder="Escriba los apellidos" name="apellido" id="apellido" />
       <imput type="submit" value="Enviar"></imput>
   </form>
</div>